# Godot 4+ specific ignores
.vs/
.godot/
.import/
.mono/
*.translation
export_presets.cfg
# As suggested by https://docs.godotengine.org/en/stable/tutorials/best_practices/version_control_systems.html